<h1>New accesslevel</h1>

<%= form_for(@accesslevel) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to image_tag("/images/up.png"), accesslevels_path %>