<h1>Showing Checkpoints</h1>

<%= render :partial => 'form' %>

<%= link_to image_tag("/images/edit.png"), edit_checkpoint_path(@checkpoint) %> |
<%= link_to image_tag("/images/up.png"), checkpoints_path %>