<%= error_messages_for 'status' %>

<!--[form:status]-->
<table>
  <tr>
    <td><label for="status_name">Name</label>
    <td><%= text_field 'status', 'name' %></td>
  </tr>
	<tr>
		<td><label for="status_proceed">Proceed</label>
		<td><%= select 'status', :proceed, TRUE_FALSE %></td>
	</tr>
</table>
<!--[eoform:status]-->