<h1>Welcome <%= @user[0].name %></h1>
It's <%= Time.zone.now %>. 
<p>
If you have trouble or questions with this application please contact:<br/>
<br/>
Rich Allen<br/>
<a href="mailto:hcir@nellahcir.com">hcir@nellahcir.com</a><br/>
phone: 1.907.315.5499<br/>
<hr>
<font size="-3">
	Standings app created by <a href="http://nellahcir.com/">Allen ReSearch</a>
</font>